.container {
  display: grid;
  margin-left: 2em;
}

.container button {
  display: grid;
  justify-self: end;
  background: none;
  border: none;
  margin-right: 2em;
}

.list {
  margin: 0;
  padding: 0;
}
