.track {
  list-style: none;
  display: grid;
  grid-template-rows: 20rem 1fr 1fr;
  grid-template-columns: 20rem;
  grid-template-areas:
    "img"
    "title"
    "artist";
  justify-content: space-around;
  text-align: center;
}

.trackimage {
  width: 100%;
  height: 100%;
  grid-area: img;
  object-fit: cover;
  border-radius: 20px;
}

.title {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.artist {
  padding: 0;
  margin: 0;
  color: var(--secondary-text);
}
